Release

# Raven-Format clones from "make bat files.bat" QuickBatch, Zsnd, ModRenumberer, PackageCloner, SkinInstaller
Raven-Formats Scripts/ModRenumberer.bat
Raven-Formats Scripts/PackageCloner.bat
Raven-Formats Scripts/QuickBatch/\!ReadMe.md
Raven-Formats Scripts/QuickBatch/(RF)Compile.bat
Raven-Formats Scripts/QuickBatch/(RF)DecompileJSON.bat
Raven-Formats Scripts/QuickBatch/(RF)DecompileTrueXML.bat
Raven-Formats Scripts/QuickBatch/(RF)Edit.bat
Raven-Formats Scripts/QuickBatch/(XC)Decompile.bat
Raven-Formats Scripts/QuickBatch/(XC)Edit.bat
Raven-Formats Scripts/QuickBatch/(XCtoRF)Convert.bat
Raven-Formats Scripts/(XC)Compile.bat
Raven-Formats Scripts/Zsnd/x_voice.bat
Raven-Formats Scripts/Zsnd/Zsound.bat
Raven-Formats Scripts/SkinHelpers/SkinInstallerXML2.bat

# Alchemy clones from "make bat files.bat" AnimationMixing, hud creation tools, image2igb, SkinEdit, animdb2actor, ext.images, genGColorFix, IGBconverter, Maps
Alchemy Scripts/Alchemy 5 Truly Portable/*
Alchemy Scripts/AnimationMixing/_combine.bat
Alchemy Scripts/AnimationMixing/_extract.bat
Alchemy Scripts/AnimationMixing/previewAnimations.bat
Alchemy Scripts/hud/hud_head_e.bat
Alchemy Scripts/hud/logos_e.bat
Alchemy Scripts/image2igb/image2igb-fxtext.bat
Alchemy Scripts/image2igb/image2igb-icons,fonts.bat
Alchemy Scripts/image2igb/image2igb-ls.bat
Alchemy Scripts/image2igb/image2igb-pngicons.bat
Alchemy Scripts/image2igb/image2igb.bat
Alchemy Scripts/SkinEdit (internal name renamer)/*
Alchemy Scripts/animdb2actor.bat
Alchemy Scripts/ext.images.bat
Alchemy Scripts/ExtractMotion.bat
Alchemy Scripts/genGColorFix.bat
Alchemy Scripts/Maps.bat
Alchemy Scripts/IGBconverter.bat
